@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@300&family=Inter:wght@600&display=swap');


header {
    background-color: darkgray;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 300px ;
    margin-top: 15px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
}
.search {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 5px;
}


.search::placeholder {
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
}